
.time-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.td-team {
  font-weight: 700;
}

.tr-merged-cell:has(.td-team) {
  border-bottom: 1px solid lightgray;
}

@media screen and (max-width: 1440px) {
  /* Team data in data table */
  .tr-full-data {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .tr-full-data td:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 4;
    font-size: 16px;
  }
  .tr-full-data td:nth-child(2) {
    grid-row-start: 2;
  }
  .tr-full-data td:nth-child(3) {
    grid-row-start: 2;
  }
  .tr-full-data td:nth-child(4) {
    grid-row-start: 2;
    font-size: 12px;
  }

  /* No team data in data table  */
  tr {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  tr td:nth-child(3) {
    font-size: 12px;
  }
}
