

table {
  width: 90%;
  margin: auto;
  border-collapse: collapse;
  padding: 0;
}

th {
  text-align: left;
  border-bottom: 1px solid #111827;
  font-weight: 800;
  padding: 4px 16px;
  height: 34px;
}

table tbody tr td {
  padding: 4px 16px;
  height: 34px;
  margin-bottom: 4px;
}

.th-time {
  text-align: center;
}

tbody tr {
  color: #1f2937;
}

table tbody:nth-child(even) {
  background-color: #e5e7eb;
}

table tbody:nth-child(odd) {
  background-color: #f3f4f6;
}

@media screen and (max-width: 1440px) {
  .th-team {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .table-wrap {
    overflow-x: scroll;
  }
}
